html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
  
a {
    color: inherit;
    text-decoration: none;
}
  
img {
    max-width: 100%;
}

/** Montserrat-Alt1 Regular **/
@font-face {
    font-family: 'Montserrat-Alt1';
    font-weight: 400;
    font-style: normal;
    src: local('Montserrat-Alt1'),
         url('../fonts/MontserratAlt1-Regular.woff2') format('woff2'),
         url('../fonts/MontserratAlt1-Regular.woff') format('woff');
}

/** Montserrat-Alt1 Medium **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 500;
    font-style: normal;
    src: local('Montserrat-Alt1'),
         url("../fonts/MontserratAlt1-Medium.woff2") format("woff2"),
         url("../fonts/MontserratAlt1-Medium.woff") format("woff");
}

/** Montserrat-Alt1 SemiBold **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 600;
    font-style: normal;
    src: local('Montserrat-Alt1'),
         url("../fonts/MontserratAlt1-SemiBold.woff2") format("woff2"),
         url("../fonts/MontserratAlt1-SemiBold.woff") format("woff");
}

/** Montserrat-Alt1 Bold **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 700;
    font-style: normal;
    src: local('Montserrat-Alt1'),
         url("../fonts/MontserratAlt1-Bold.woff2") format("woff2"),
         url("../fonts/MontserratAlt1-Bold.woff") format("woff");
}

:root {
    --color-accent: #ff4b4b;
    --color-accent-active: #c93a3a;
    --color-white: #fff;
    --color-black: #000;
    --color-black-1e: #1e1e1e;
    --color-brown: #251f1f;
    --color-brown-2: #272222;
    --color-burgundy: #240e0e;
    --color-gray-hover: #424242;
}
