html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
  
a {
    color: inherit;
    text-decoration: none;
}
  
img {
    max-width: 100%;
}

/** Montserrat-Alt1 Regular **/
@font-face {
    font-family: 'Montserrat-Alt1';
    font-weight: 400;
    font-style: normal;
    src: local('Montserrat-Alt1'),
         url('../../fonts/MontserratAlt1-Regular.woff2') format('woff2'),
         url('../../fonts/MontserratAlt1-Regular.woff') format('woff');
}

/** Montserrat-Alt1 Medium **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 500;
    font-style: normal;
    src: local('Montserrat-Alt1'),
         url('../../fonts/MontserratAlt1-Medium.woff2') format("woff2"),
         url('../../fonts/MontserratAlt1-Medium.woff') format("woff");
}

/** Montserrat-Alt1 SemiBold **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 600;
    font-style: normal;
    src: local('Montserrat-Alt1'),
         url('../../fonts/MontserratAlt1-SemiBold.woff2') format("woff2"),
         url('../../fonts/MontserratAlt1-SemiBold.woff') format("woff");
}

/** Montserrat-Alt1 Bold **/
@font-face {
    font-family: "Montserrat-Alt1";
    font-weight: 700;
    font-style: normal;
    src: local('Montserrat-Alt1'),
         url('../../fonts/MontserratAlt1-Bold.woff2') format("woff2"),
         url('../../fonts/MontserratAlt1-Bold.woff') format("woff");
}

.page {
    min-width: 320px;
    margin: 0;
    font-family: 'Montserrat-Alt1', sans-serif;
    background-color: var(--color-black-1e);
}

.flex {
    display: flex;
}

.header {
    min-height: 480px;
    background-image: url('../../img/profile-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}

.container {
    max-width: 1820px;
    padding: 0 20px;
    margin: 0 auto;
}

.main {
    position: relative;
    min-height: 520px;
    background-color: var(--color-brown);
}

.main-profile {
    z-index: 3;
    position: absolute;
    top: -125px;
    align-items: center;
    width: 1000px;
    height: 300px;
    border: 1px solid var(--color-accent);
    border-radius: 40px;
    background-color: var(--color-brown-2); 
}

.main-profile__img {
    width: 255px;
    height: 255px;
    border-radius: 100%;
    margin-left: 40px;
}

.main-profile__name {
    margin: 0;
    padding-left: 37px;
    padding-bottom: 80px;
    font-weight: 600;
    font-size: 55px;
    color: var(--color-white);
}

.main-profile__svg {
    position: absolute;
    top: 31px;
    right: 36px;
    cursor: pointer;
    transition: fill .3s ease-in-out;
}

.main-profile__svg:hover {
    fill: var(--color-accent-active);
}

.main-changeMenu {
    z-index: 2;
    position: absolute;
    top: -80px;
    left: 365px;
    border: 1px solid var(--color-accent);
    border-radius: 9px;
    background-color: var(--color-black-1e);
    transition: transform .3s ease-in-out;
}

.main-changeMenu.active {
    transform: translateX(720px);
}

.main-changeMenu__changeName {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    margin: 0;
    padding: 25px;
    color: var(--color-white);
    cursor: pointer;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.main-changeMenu__changeName:hover {
    color: var(--color-accent);
    background-color: var(--color-gray-hover);
}

.main-changeMenu__changeBg {
    margin: 0;
    padding: 25px;
    color: var(--color-white);
    cursor: pointer;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.main-changeMenu__changeBg:hover {
    color: var(--color-accent);
    background-color: var(--color-gray-hover);
}

.main-changeMenu__changeStyle {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    margin: 0;
    padding: 25px;
    color: var(--color-white);
    cursor: pointer;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.main-changeMenu__changeStyle:hover {
    color: var(--color-accent);
    background-color: var(--color-gray-hover);
}


/**  menu  **/

.main-menu {
    z-index: 4;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100px;
    left: 110px;
    border: 1px solid var(--color-accent);
    border-radius: 9px;
    background-color: #1e1e1e;
    animation: reveal 0.5s;
}

.menu-closed {
    animation: close 0.5s;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-menu__change {
    margin: 0;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    padding: 20px 30px 15px 25px;
    color: var(--color-white);
    cursor: pointer;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.main-menu__change:hover {
    color: var(--color-accent);
    background-color: #424242;
}

.main-menu__delete {
    margin: 0;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    padding: 15px 30px 15px 25px;
    color: var(--color-white);
    cursor: pointer;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.main-menu__delete:hover {
    color: var(--color-accent);
    background-color: #424242;
}


/**  popup  **/

.popup {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 28, 28, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: opacity 0.3s, visibility 0.3s;
}

.popup.active {
    z-index: 5;
    display: flex;
    opacity: 1;
    visibility: visible;
}

.popup2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background: var(--color-brown-3);
}

.popupinfo {
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-white);
}

.popupform {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.popupbtn {
    border: 1px solid rgba(122, 18, 18, 0.5);
    border-radius: 20px;
    padding: 8px 36px;
    font-family: 'Montserrat-Alt1', sans-serif;
    font-size: 18px;
    color: var(--color-white);
    background: var(--color-accent);
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.popupbtn:hover {
    background-color: #cc2f2f;
}

.main-nav {
    position: absolute;
    right: 60px;
    top: 50px;
}

.main-nav__descr {
    margin: 0;
    border-radius: 14px;
    padding: 15px 25px;
    color: var(--color-white);
    background-color: var(--color-accent);
    cursor: pointer;
}

.popupName {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 28, 28, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: opacity 0.3s, visibility 0.3s;
}

.popupName.active {
    z-index: 5;
    display: flex;
    opacity: 1;
    visibility: visible;
}

/**  colorPicker  **/

.main-colorPicker {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(31, 28, 28, 0.5);
}

.main-colorPicker2 {
    position: relative;
    padding: 30px 50px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--color-brown-3);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-colorPicker2__title {
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-white);
}

.main-colorPicker2-separation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-colorPicker2-separation-form-colorChoicer {
    display: flex;
    flex-direction: column;
    padding-left: 400px;
    gap: 38px;
    justify-content: end;
    align-items: end;
    margin-bottom: 69px;
}

.main-colorPicker2-separation-form-colorChoicer-accent__label {
    color: var(--color-white);    
}

.main-colorPicker2-separation-form-colorChoicer-profile__label {
    color: var(--color-white);
}

.main-colorPicker2-separation-form-colorChoicer-main__label {
    color: var(--color-white);
}

.main-colorPicker2-separation-form__button {
    border: none;
    border-radius: 20px;
    padding: 15px 35px;
    color: var(--color-white);
    background-color: var(--color-accent);
}