.page {
    min-width: 320px;
    margin: 0;
    font-family: 'Montserrat-Alt1', sans-serif;
    background-color: var(--color-main);
}

.flex {
    display: flex;
}

.header {
    min-height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}

.container {
    max-width: 1820px;
    padding: 0 20px;
    margin: 0 auto;
}

.main {
    position: relative;
    min-height: 520px;
    background-color: var(--color-main);
}

.main-profile {
    z-index: 3;
    position: absolute;
    top: -125px;
    left: 55px;
    align-items: center;
    width: 1000px;
    height: 300px;
    border: 1px solid var(--color-accent);
    border-radius: 40px;
    background-color: var(--color-profile); 
}

.main-profile__img {
    width: 255px;
    height: 255px;
    border-radius: 100%;
    margin-left: 40px;
}

.main-profile__name {
    margin: 0;
    padding-left: 37px;
    padding-bottom: 80px;
    font-weight: 600;
    font-size: 55px;
    color: var(--color-text);
}

.main-profile__svg {
    position: absolute;
    top: 31px;
    right: 36px;
    cursor: pointer;
    fill: var(--color-accent);
    transition: fill .3s ease-in-out;
}

.main-profile__svg-ball {
    transform-origin: center;
    transform: scale(0);
    animation: scaleUp .8s ease-out forwards;
  }
  
  @keyframes scaleUp {
    to {
      transform: scale(1);
    }
  }
  
  .main-profile__svg-ball:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .main-profile__svg-ball:nth-child(3) {
    animation-delay: 0.5s;
  }

.main-profile__svg:hover {
    fill: var(--color-accent-active);
}

.main-changeMenu {
    z-index: 2;
    position: absolute;
    top: -80px;
    left: 365px;
    border: 1px solid var(--color-accent);
    border-radius: 9px;
    background-color: var(--color-main);
    transition: transform .3s ease-in-out;
}

.main-changeMenu.active {
    transform: translateX(720px);
}

.main-changeMenu__changeName {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    margin: 0;
    padding: 25px;
    color: var(--color-text);
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.main-changeMenu__changeName:hover {
    color: var(--color-accent);
    background-color: var(--color-hover-main);
}

.main-changeMenu__changeBg {
    margin: 0;
    padding: 25px;
    color: var(--color-text);
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.main-changeMenu__changeBg:hover {
    color: var(--color-accent);
    background-color: var(--color-hover-main);
}

.main-changeMenu__changeStyle {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    margin: 0;
    padding: 25px;
    color: var(--color-text);
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.main-changeMenu__changeStyle:hover {
    color: var(--color-accent);
    background-color: var(--color-hover-main);
}


/**  menu  **/

.main-menu {
    z-index: 4;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100px;
    left: 110px;
    border: 1px solid var(--color-accent);
    border-radius: 9px;
    background-color: var(--color-main);
    animation: reveal 0.5s;
}

.menu-closed {
    animation: close 0.5s;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-menu__change {
    margin: 0;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    padding: 20px 30px 15px 25px;
    color: var(--color-text);
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.main-menu__change:hover {
    color: var(--color-accent);
    background-color: var(--color-hover-main);
}

.main-menu__delete {
    margin: 0;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    padding: 15px 30px 15px 25px;
    color: var(--color-text);
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.main-menu__delete:hover {
    color: var(--color-accent);
    background-color: var(--color-hover-main);
}


/**  popup  **/

.popup {
    z-index: 5;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 28, 28, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.popup.active {
    z-index: 5;
    display: flex;
    opacity: 1;
    visibility: visible;
}

.popup2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 28px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--color-profile);
}

.popupinfophoto {
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
}

.popupInfo {
    border-bottom: 1px solid var(--color-text);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 35px 50px 30px;
    margin-bottom: 30px;
    background-color: var(--color-accent);
}

.popupInfo__title {
    margin: 0;
    color: var(--color-text);
}

.popupform {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.popupbtn {
    border: none;
    border-radius: 20px;
    padding: 8px 36px;
    font-family: 'Montserrat-Alt1', sans-serif;
    font-size: 18px;
    color: var(--color-text);
    background: var(--color-accent);
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.popupbtn:hover {
    background-color: var(--color-accent-active);
}

.main-nav {
    position: absolute;
    right: 60px;
    top: 50px;
}

.main-nav__descr {
    margin: 0;
    border-radius: 14px;
    padding: 15px 25px;
    color: var(--color-text);
    background-color: var(--color-accent);
    cursor: pointer;
}

/**  colorPicker  **/

.main-colorPicker {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(31, 28, 28, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.main-colorPicker.active {
    opacity: 1;
    visibility: visible;
}

.main-colorPicker2 {
    position: relative;
    padding-bottom: 60px;
    border-radius: 28px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--color-profile);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-colorPicker2-info {
    justify-content: center;
    align-items: center;
    width: 1488px;
    border-bottom: 1px solid var(--color-text);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 45px 0;
    margin-bottom: 40px;
    background-color: var(--color-accent);
}

.main-colorPicker2-info__title {
    margin: 0;
    color: var(--color-text);
}

.main-colorPicker2-separation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 120px;
}

.main-colorPicker2-separation-form-colorChoicer {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: end;
    align-items: end;
    margin-bottom: 80px;
}

.colorChoicer__block {
    gap: 20px;
    align-items: center;
}


.colorChoicer__label {
    color: var(--color-text);    
}

.main-colorPicker2-separation-form__button {
    border: none;
    border-radius: 20px;
    padding: 15px 35px;
    font-family: 'Montserrat-Alt1';
    color: var(--color-text);
    background-color: var(--color-accent);
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.main-colorPicker2-separation-form__button:hover {
    background-color: var(--color-accent-active);
}

input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc; 
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    outline: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.main-colorPicker-separation-mini {
    position: relative;
    width: 970px;
    height: 534px;
    border: 1px solid var(--color-accent);
    border-radius: 40px;
    background-color: var(--color-main);
}

.main-colorPicker-separation-mini-header {
    min-height: 215px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
}

.main-colorPicker-separation-mini-main-profile  {
    position: absolute;
    z-index: 3;
    top: 142px;
    left: 32px;
    align-items: center;
    width: 497px;
    height: 169px;
    border: 1px solid var(--color-accent);
    border-radius: 25px;
    background-color: var(--color-profile);
}

.main-colorPicker-separation-mini-main-profile__img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin-left: 20px;
}

.main-colorPicker-separation-mini-main-profile__name {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 47px;
    font-weight: 600;
    font-size: 34px;
    color: var(--color-text);
}

.main-colorPicker-separation-mini-main-btn__btn {
    position: absolute;
    right: 36px;
    top: 241px;
    border-radius: 5px;
    padding: 9px 40px;
    margin: 0;
    background-color: var(--color-accent);
}