.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: collapse .7s forwards .2s ease-in-out ; 
}

@keyframes collapse {
    0% {
      height: 100%;
    }
    50% {
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    70% {
      border-bottom-left-radius: 70%;
      border-bottom-right-radius: 70%;
    }
    100% {
      height: 0;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
}

.animation {
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.animation-logo {
  width: 160px;
}

.animation-text {
  margin: 0;
  padding-top: 55px;
  font-family: 'Montserrat-Alt1', sans-serif;
  font-size: 100px;
  font-weight: 400;
  color: var(--color-accent);
}

.no-scroll {
  overflow: hidden;
}