.profile {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 65px;
    right: 100px;
    border: 1px solid #ff4b4b;
    border-radius: 9px;
    background-color: #1e1e1e;
    animation: reveal 0.5s;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.profile__profile {
    margin: 0;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    padding: 20px 30px 15px 25px;
    color: #fff;
    cursor: pointer;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.profile__profile:hover {
    color: #ff4b4b;
    background-color: #424242;
}

.profile__settings {
    margin: 0;
    padding: 15px 30px 15px 25px;
    color: #fff;
    cursor: pointer;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.profile__settings:hover {
    color: #ff4b4b;
    background-color: #424242;
}

.profile__exit {
    margin: 0;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    padding: 15px 30px 15px 25px;
    color: #fff;
    cursor: pointer;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

.profile__exit:hover {

    color: #ff4b4b;
    background-color: #424242;
}