.profile {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 65px;
    right: 100px;
    border: 1px solid var(--color-accent);
    border-radius: 9px;
    background-color: var(--color-main);
    animation: reveal 0.5s;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.profile__profile {
    margin: 0;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    padding: 20px 30px 15px 25px;
    color: var(--color-text);
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.profile__profile:hover {
    color: var(--color-accent);
    background-color: var(--color-hover-main);
}

.profile__settings {
    margin: 0;
    padding: 15px 30px 15px 25px;
    color: var(--color-text);
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.profile__settings:hover {
    color: var(--color-accent);
    background-color: var(--color-hover-main);
}

.profile__exit {
    margin: 0;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    padding: 15px 30px 15px 25px;
    color: var(--color-text);
    cursor: pointer;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.profile__exit:hover {

    color: var(--color-accent);
    background-color: var(--color-hover-main);
}