html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
  
a {
    color: inherit;
    text-decoration: none;
}
  
img {
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--color-black);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-accent); 
}

.flex {
    display: flex;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page {
    min-width: 320px;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: var(--color-main);
}

.container {
    max-width: 1820px;
    padding: 0 20px;
    margin: 0 auto;
}

/**  header  **/

.header {
    padding: 35px 0;
}

.header__container {
    position: relative;
    padding: 10px 30px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-profile);
}

.header__link {
    margin-right: auto;
}

.header__link-img {
    width: 37px;
    height: 53px;
}

.header-profile {
    max-height: 40px;
    border-radius: 15px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    cursor: pointer;
}

.header-profile__name {
    margin: 0;
    padding: 0 10px 0 25px;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-text);
    background-image: url("/img/profile-arrow.svg");
    background-repeat: no-repeat;
    background-position: 10px;
}

.header-profile__img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

/**  main  **/

.main__container {
    gap: 77px;
    padding: 0 40px;
}

.main-block-nav {
    width: 350px;
    height: 700px;
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: var(--color-profile);
}

.main-block-nav__nav {
    padding: 40px 0 0 40px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main-block-nav__nav-link {
    border-radius: 25px;
    margin: 0;
    padding: 20px 0px 20px 40px;
    width: 260px;
    font-size: 32px;
    color: var(--color-text);
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.main-block-nav__nav-link.choosed {
    background-color: var(--color-accent);
}

/* Стили для элемента аудио */
.main-block-play-changed {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-block-play-changed__input {
    -webkit-appearance: none;
    height: 6px;
    width: 600px;
    border-radius: 4px;
    background-color: var(--color-accent);
    cursor: pointer;
}

.main-block-play-changed__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 11px;
    width: 11px;
    background-color: var(--color-text);
    border-radius: 50%;
    cursor: pointer;
}

.main-block-play-changed-controls {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-bottom: 12px;
}

.main-block-play-changed-controls-block {
    position: relative;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-text);
    cursor: pointer;
}

.main-block-play-changed-controls-block__play {
    position: absolute;
    fill: var(--color-accent);
    opacity: 0;
}

.main-block-play-changed-controls-block__pause {
    position: absolute;
    fill: var(--color-accent);
    opacity: 0;
}

.main-block-play-changed-controls-block__play.active {
    opacity: 1;
}

.main-block-play-changed-controls-block__pause.active {
    opacity: 1;
}

.main-block-play-changed-controls__last,
.main-block-play-changed-controls__next{
    cursor: pointer;
    fill: var(--color-accent);
}

.main-info {
    position: relative;
    width: 1340px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
}

.main-info-bl {
    position: absolute;
    transform: translateX(1400px);
    opacity: 0;
    transition: transform .4s ease-in-out, opacity .5s ease-in-out;  
}

.main-info-bl.scrolled {
    transform: translateX(-1400px);
}

.main-info-bl.active {
    transform: translate(0);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    border-radius: 20px;
    background-color: var(--color-profile);
}

.main-info-block {
    width: 1300px;
    height: 700px;
    background-color: var(--color-profile);
}

.main-info-block-up {
    display: flex;
    align-items: center;
    padding: 35px 40px 35px 74px;
    background: var(--color-accent);
    border-bottom: 1px solid var(--color-text);
}

.main-info-block-up__title {
    margin: 0;
    margin-right: auto;
    font-size: 30px;
    font-weight: 400;
    color: var(--color-text);
}

.main-info-block-up__icon {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.main-info-block-down {
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}

.main-info-block-down.active .main-info-block-down__number {
    color: var(--color-accent);
}

.main-info-block-down.active .main-info-block-down__music {
    color: var(--color-accent);
}

.main-info-block-down:hover {
    background-color: var(--color-hover-profile);
}

.main-info-block-down:hover .main-info-block-down__number {
    color: var(--color-text);
}

.main-info-block-down.active:hover .main-info-block-down__number {
    color: var(--color-accent);
}

.main-info-block-down__number {
    width: 35px;
    margin: 0;
    padding-left: 22px;
    color: var(--color-gray);
    transition: color .15s;
}

.main-info-block-down__music {
    padding-left: 27px;
    margin: 0;
    font-size: 23px;
    color: var(--color-text);
    transition: color .15s;
}

.addMusicPopup {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 28, 28, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.addMusicPopup.active {
    z-index: 5;
    display: flex;
    opacity: 1;
    visibility: visible;
}

.addMusicPopup2 {
    background-color: var(--color-profile);
    border-radius: 28px;
    padding-bottom: 25px;
}

.addMusicPopupTitle {
    border-bottom: 1px solid var(--color-text);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 36px 90px;
    margin-bottom: 50px;
    background: var(--color-accent);
}

.addMusicPopupTitle__text {
    margin: 0;
    color: var(--color-text);
}

.addMusicPopupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.addMusicPopupInput {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.addMusicPopupInputText {
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.addMusicPopupBtn {
    border: none;
    border-radius: 15px;
    padding: 12px 44px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: var(--color-text);
    background-color: var(--color-accent);
}